

.cabecera {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    background-color: #0154a0;
    height: 30px;
}
th { font-size: 12px; }
td { font-size: 11px; }

body{margin:40px;}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

#titulo-modal{
   color: #0154a0;
    
}
#tabla-modal tr td.tag{
	text-align: right;
}

#tabla-modal input{

	text-align: center;
}

#tabla-busqueda tr td.detalle{

	cursor: pointer;
    text-align: center;
}

#tabla-modal tr td input.solo{
	width: 141;
	
}


table.dataTable thead {
    background-color: e5e5e5;
}

.pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

#loading-div-background{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
}

#loading-div{
    width: 300px;
    height: 150px;
    background-color: #fff;
    border: 5px solid #1468b3;
    text-align: center;
    color: #202020;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

